main
    .main
        .image
            img(src="assets/images/mem_1.jpg", alt="Image").image-item
        .image-content
            .image-content__text
                p.text-item How much garbage! We'll fix it now...
            .image-content__control
                .control-item.active
                .control-item
                .control-item
                .control-item
                .control-item