main
    .container
        .memes__container
            .memes
                .meme#meme__1
                    img(src="assets/images/mem_1.jpg", alt="Image").image-item
                    p How much garbage! We'll fix it now...
                .meme#meme__2
                    img(src="assets/images/mem_2.jpg", alt="Image").image-item
                    p Stupid users...
                .meme#meme__3
                    img(src="assets/images/mem_3.jpg", alt="Image").image-item
                    p Oh, these programming languages...
                .meme#meme__4
                    img(src="assets/images/mem_4.jpg", alt="Image").image-item
                    p One day in the life of a programmer...
                .meme#meme__5
                    img(src="assets/images/mem_5.jpeg", alt="Image").image-item
                    p The work of a programmer...
            .meme__text#meme__1
                p How much garbage! We'll fix it now...
            .meme__text#meme__2
                p Stupid users...
            .meme__text#meme__3
                p Oh, these programming languages...
            .meme__text#meme__4
                p One day in the life of a programmer...
            .meme__text#meme__5
                p The work of a programmer...
        .meme__nav
            .meme__links
                a.meme__navlink(href="#meme__1")
                a.meme__navlink(href="#meme__2")
                a.meme__navlink(href="#meme__3")
                a.meme__navlink(href="#meme__4")
                a.meme__navlink(href="#meme__5")