html {
    font-size: 10px;
}

body {
    background-color: aqua;
    min-width: 102.4rem;
    margin: 0;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 3.2rem;
}

.image {
    width: 50rem;
    height: 40rem;
    &-item {
        width: 100%;
        height: 100%;
    }
}

.image-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .text-item {
        font-size: 2rem;
    }
    .image-content__control {
        display: flex;
        align-items: center;
        gap: 1rem;
        .control-item {
            width: 1.5rem;
            height: 1.5rem;
            background: blue;
            border: .2rem solid blue;
            border-radius: 50%;
            cursor: pointer;
        }
        .active {
            background: #fff;
        }
    }
}